.error-input{
	width: 400px;
	background: #484848;
	border: 1px solid #00cc99;
	border-radius: 7px;
	color: #FFF;
	height: 40px;
	margin: 20px auto;
	padding-left: 40px;
	outline: none;
	position: relative;
	display: block;
}
.input-icon{
	height: 40px;
	width: 400px;
	position: relative;
	display: block;
	margin: auto;
}
.input-icon:before{
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	top: 10px;
	left: 10px;
	background: url(../image/image-search.png) no-repeat center;
	background-size: contain;
	z-index: 1;
}
