.form-container{
	border-radius: 25px;
	overflow: hidden;
	border:1px solid;
	margin:auto;
}
.form-container label{
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-size: 24px;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 0;
}
.form-container textarea{
	display: block;
	width: 100%;
	min-height: 500px;
	border:none;
	padding:15px;
}
.form-container button{
	display: block;
	width: 200px;
	height: 30px;
	line-height: 30px;
	margin: 10px auto;
	border:none;
	border-radius: 15px;
	box-shadow: 1px 1px 3px #333;
}

@media (max-width: 1023px){
	.form-container{
		margin-bottom: 15px;
	}
}