.glitch{
    height: 70vh;
}
.glitch__img{
    height: calc(70vh + 20px);
}
.xstartup{
    height: 50vh;
}

#group-create {
    width: 80%;
    margin: auto;
}

#navigation{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}
#navigation:after{
    content: "";
    position: absolute;
    left: 60px;
    height: 3px;
    bottom: 13px;
    z-index: -1;
    width: calc(100% - 120px);
    background-color: var(--bg-2);
}
#navigation a{
    display: block;
    flex: 0 0 120px;
    color: unset;
    text-decoration: none;
    position: relative;
    text-align: center;
    padding-bottom: 50px;
}
#navigation a.active{
    font-weight: bold;
}
#navigation a:before, #navigation a:after{
    content: "";
    position: absolute;
    display:block;
    border-radius: 50%;
    left:50%;
    transform: translateX(-50%);
    bottom: 0;
}

#navigation a:after{
    width: 18px;
    height: 18px;
    background-color: var(--bg-5);
    bottom: 5px;
}
#navigation a:before{
    width: 28px;
    height: 28px;
    border: 1px solid var(--bg-5);
    background-color: var(--bg-1);
}
#navigation a.active:before{
    border: 1px solid var(--bg-4);
}
#navigation a.active:after{
    background-color: var(--bg-4);
}
#group-create input[type="text"]{
    height: 48px;
    line-height: 48px;
    width: 100%;
    border-radius: 15px;
    padding-left: 15px;
    border: 1px solid var(--bg-5);
}
#group-create input[type="checkbox"] {
    height: 24px;
    width: 30px;
    transform: translateY(5px);
    border-radius: 5px;
}
#group-create form{
    margin-top: 20px;
}
#group-create button, #group-create a.red-btn, .complete button, .complete a.red-btn{
    border-radius: 15px;
    height: 56px;
    width: 250px;
    line-height: 56px;
    background-color: var(--bg-4);
    color: var(--text-2);
    font-weight: bold;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
}
#group-create a.back,.complete a.back{
    display: inline-block;
    text-decoration: none;
    border-radius: 15px;
    height: 56px;
    width: 250px;
    line-height: 56px;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
    text-align: center;
    border: 1px solid #666;
    color: unset;
}
.member{
    height: 223px;
    width: 100%;
    display: flex;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}
.image{
    height: 223px;
    width: 223px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.info{
    padding: 25px;
}
.info .member-name{
    font-size: var(--font-size-h5);
    font-weight: bold;
}
.info .label{
    position: absolute;
    right: 0;
    top: 25px;
    color: var(--text-2);
    background-color: var(--bg-4);
    height: 38px;
    line-height: 38px;
    padding: 0 20px;
}
.info table{
    margin-top: 20px;
}
.info table td{
    width: 250px;
    height: 40px;
}
.add-member{
    width: 100%;
    padding: 35px;
    border-radius: 25px;
    border: 1px solid #ccc;
    margin-top: 50px;
}
.add-member input{
    height: 56px;
    width: 100%;
    border-radius: 15px;
    border: 1px solid var(--bg-5);
    outline: none;
    padding: 0 10px;
}
.add-member button{
    border-radius: 15px;
    height: 56px;
    width: 250px;
    line-height: 56px;
    background-color: var(--bg-4);
    color: var(--text-2);
    font-weight: bold;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}

.update-info .group{
    margin-top: 20px;
}
.update-info .group input, .update-info .group select, .update-info .group textarea{
    width: 100%;
    border-radius: 15px;
    border: 1px solid #ccc;
    height: 48px;
    padding: 0 10px;
    outline: none;
}
.complete{
    text-align: center;
    border: 1px solid #ccc;
    padding: 80px;
    border-radius: 25px;
}
.complete h6{
    font-size: var(--font-size-3);
    font-weight: bold;
    margin-top: 20px;
}

.member-item{
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
}
.member-item .ava{
    height:200px;
    width: 200px;
    margin:auto;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.member-item .name{
    font-size: var(--font-size-5);
    font-weight: bold;
    text-align: center;
}

.member-item .position{
    height: 28px;
    width: 166px;
    line-height: 28px;
    border-radius: 10px;
    color: #FFF;
    font-size: var(--font-size-1);
    background-color: var(--bg-5);
    margin: auto;
    text-align: center;
}
.member-item .position.lead{
    background-color: var(--bg-4);
}
.member-item .info{
    width: 100%;
    margin-top: 30px;
}
.member-item .info td{
    width: 50%;
    height: 30px;
    line-height: 30px;
    text-align:right;
}
.member-item .info td:first-child{
    font-weight:bold;
    text-align:left;
}

.upload, a.upload{
    display: inline-block;
    height: 41px;
    width: 191px;
    color: var(--text-1)!important;
    line-height: 41px;
    border-radius: 15px;
    border: 1px solid #ccc;
    text-align: center;
    font-weight: bold;
    cursor:pointer;
}

.file-name{
    font-style: italic;
}
.add-image{
    position: relative;
    height:100%;
    width: 100%;
    cursor: pointer;
}
.add-image:before,.add-image:after{
    content:"";
    display: block;
    position: absolute;
    top:0;
    height: 100%;
    border-top: 5px solid var(--bg-5);
    border-bottom: 5px solid var(--bg-5);
    width: 25%;
}
.add-image:before{
    left: 0;
    border-left: 5px solid var(--bg-5);
}
.add-image:after{
    right: 0;
    border-right: 5px solid var(--bg-5);
}
.plus{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
    padding-top: 60%;
}
.plus:after,.plus:before{
    content: "";
    display: block;
    position: absolute;
    background-color: var(--bg-5);
}
.plus:before{
    height: 100%;
    width: 5px;
    top: 0;
    left: calc(50% - 2px);
}
.plus:after{
    height: 5px;
    width: 100%;
    left: 0;
    top: calc(50% - 2px);
}