.content__title {
	font-size: 11vw;
	margin: 35vh 0 0 0;
	position: relative;
	font-family: 'Bungee', cursive;
	color: var(--color-title);
	animation-name: glitch-anim-text;
	animation-duration: var(--time-anim);
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-delay: calc(var(--delay-anim) + var(--time-anim) * 0.2);
}
/* Glitch styles */
.glitch {
	height: var(--glitch-height);
	width: var(--glitch-width);
	overflow: hidden;
}
.glitch:after{
	content: "";
	display: block;
	padding-top: 56.25%;
}

.glitch__img {
	position: absolute;
	top: calc(-1 * var(--gap-vertical));
	left: calc(-1 * var(--gap-horizontal));
	width: calc(100% + var(--gap-horizontal) * 2);
	height: calc(100% + var(--gap-vertical) * 2);
	background: url('../image/BG.png') no-repeat 50% 0;
	background-color: var(--blend-color-1);
	background-size: cover;
	transform: translate3d(0,0,0);
	background-blend-mode: var(--blend-mode-1);
}

.glitch__img:nth-child(n+2){
	opacity: 0;
}

.xstartup{
	height: calc( var(--glitch-height) - 200px ) ;
	width: var(--glitch-width) ;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	animation-name: glitch-anim-text;
	animation-duration: var(--time-anim);
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-delay: calc(var(--delay-anim) + var(--time-anim) * 0.2);
}

/*.xblue{
	content: "";
	position: absolute;
	top: 0;
	left:0;
	height: 100%;
	width: 100%;
	background: url(../image/xblue.png) no-repeat center/contain;
	z-index: 0;
	animation-name: shimmering;
	animation-duration: .5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}*/

.xred{
	content: "";
	position: absolute;
	top: 0;
	left:0;
	height: 100%;
	width: 100%;
	background: url('../image/Xstartup1.png') no-repeat center/contain;
	z-index: 0;
}
.home-signup-btn, a.home-signup-btn{
	position: absolute;
	left:50%;
	top:80%;
	font-size: 18px;
	transform: translateX(-50%);
	display: block;
	line-height: 1;
	color: #FFF;
	padding: 25px 80px;
	border-radius: 10px;
	background-color: var(--bg-4);
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
}
.imgloaded .glitch__img:nth-child(n+2) {
	animation-duration: var(--time-anim);
	animation-delay: var(--delay-anim);
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
.imgloaded .glitch__img:nth-child(2) {
	background-color: var(--blend-color-2);
	background-blend-mode: var(--blend-mode-2);
	animation-name: glitch-anim-1;
}
.imgloaded .glitch__img:nth-child(3) {
	background-color: var(--blend-color-3);
	background-blend-mode: var(--blend-mode-3);
	animation-name: glitch-anim-2;
}
.imgloaded .glitch__img:nth-child(4) {
	background-color: var(--blend-color-4);
	background-blend-mode: var(--blend-mode-4);
	animation-name: glitch-anim-3;
}
.imgloaded .glitch__img:nth-child(5) {
	background-color: var(--blend-color-5);
	background-blend-mode: var(--blend-mode-5);
	animation-name: glitch-anim-flash;
}

/* Animations */
@keyframes glitch-anim-1 {
	0% { 
		opacity: 1;
		transform: translate3d(var(--gap-horizontal),0,0);
		-webkit-clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
		clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
	}
	2% {
		-webkit-clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
		clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
	}
	4% {
		-webkit-clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
		clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
	}
	6% {
		-webkit-clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
		clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
	}
	8% {
		-webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
		clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
	}
	10% {
		-webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
		clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
	}
	12% {
		-webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
		clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
	}
	14% {
		-webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
		clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
	}
	16% {
		-webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
		clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
	}
	18% {
		-webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
		clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
	}
	20% {
		-webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
		clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
	}
	21.9% {
		opacity: 1;
		transform: translate3d(var(--gap-horizontal),0,0);
	}
	22%, 100% {
		opacity: 0;
		transform: translate3d(0,0,0);
		-webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
		clip-path: polygon(0 0, 0 0, 0 0, 0 0);
	}
}
@keyframes glitch-anim-2 {
	0% { 
		opacity: 1;
		transform: translate3d(calc(-1 * var(--gap-horizontal)),0,0);
		-webkit-clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
		clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
	}
	3% {
		-webkit-clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
		clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
	}
	5% {
		-webkit-clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);
		clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);
	}
	7% {
		-webkit-clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
		clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
	}
	9% {
		-webkit-clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);
		clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);
	}
	11% {
		-webkit-clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%);
		clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%);
	}
	13% {
		-webkit-clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
		clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
	}
	15% {
		-webkit-clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%);
		clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%);
	}
	17% {
		-webkit-clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%);
		clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%);
	}
	19% {
		-webkit-clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%);
		clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%);
	}
	20% {
		-webkit-clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%);
		clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%);
	}
	21.9% {
		opacity: 1;
		transform: translate3d(calc(-1 * var(--gap-horizontal)),0,0);
	}
	22%, 100% {
		opacity: 0;
		transform: translate3d(0,0,0);
		-webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
		clip-path: polygon(0 0, 0 0, 0 0, 0 0);
	}
}
@keyframes glitch-anim-3 {
	0% { 
		opacity: 1;
		transform: translate3d(0, calc(-1 * var(--gap-vertical)), 0) scale3d(-1,-1,1);
		-webkit-clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%);
		clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%);
	}
	1.5% {
		-webkit-clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
		clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
	}
	2% {
		-webkit-clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
		clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
	}
	2.5% {
		-webkit-clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
		clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
	}
	3% {
		-webkit-clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
		clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
	}
	5% {
		-webkit-clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
		clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
	}
	5.5% {
		-webkit-clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
		clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
	}
	7% {
		-webkit-clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
		clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
	}
	8% {
		-webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
		clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
	}
	9% {
		-webkit-clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
		clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
	}
	10.5% {
		-webkit-clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
		clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
	}
	11% {
		-webkit-clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
		clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
	}
	13% {
		-webkit-clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
		clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
	}
	14% {
		-webkit-clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
		clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
	}
	14.5% {
		-webkit-clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
		clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
	}
	15% {
		-webkit-clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
		clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
	}
	16% {
		-webkit-clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
		clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
	}
	18% {
		-webkit-clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
		clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
	}
	20% {
		-webkit-clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
		clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
	}
	21.9% {
		opacity: 1;
		transform: translate3d(0, calc(-1 * var(--gap-vertical)), 0) scale3d(-1,-1,1);
	}
	22%, 100% {
		opacity: 0;
		transform: translate3d(0,0,0);
		-webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
		clip-path: polygon(0 0, 0 0, 0 0, 0 0);
	}
}
@keyframes glitch-anim-text {
	0% { 
		transform:  translate(-50%,-50%) translate3d(calc( (-1) * var(--gap-horizontal) ),0,0) scale3d(-1,-1,1);
		-webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
		clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
	}
	2% {
		-webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
		clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
	}
	4% {
		-webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
		clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
	}
	5% {
		-webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
		clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
	}
	6% {
		-webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
		clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
	}
	7% {
		-webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
		clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
	}
	8% {
		-webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
		clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
	}
	9% {
		-webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
		clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
	}
	9.9% {
		transform:  translate(-50%,-50%) translate3d(calc(-1 * var(--gap-horizontal)),0,0) scale3d(-1,-1,1);
	}
	10%, 100% {
		transform: translate3d(0,0,0) scale3d(1,1,1) translate(-50%,-50%);
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
	}
}
/* Flash */
@keyframes glitch-anim-flash {
	0%, 5% { 
		opacity: 0.2; 
		transform: translate3d(var(--gap-horizontal), var(--gap-vertical), 0);
	}
	5.5%, 100% {
		opacity: 0;
		transform: translate3d(0, 0, 0);
	}
}
@keyframes shimmering {
	0% {
		opacity: 1;
	}
	25% {
		opacity: 0.25;
	}
	50% {
		opacity: 0;
	}
	75% {
		opacity: 0.25;
	}
	100% {
		opacity: 1;
	}
}
::-webkit-scrollbar { 
	display: none; 
}
#to-top{
	display: block;
	position: fixed;
	top: 50%;
	right: 30px;
	height: 40px;
	text-align: center;
	width: 40px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: var(--bg-4);
	cursor: pointer;
}
#to-top img{
	max-width: 100%;
	filter: invert(1) brightness(1);
}
#messenger{
	display: block;
	position: fixed;
	bottom: 40px;
	right: 40px;
	height: 60px;
	width: 60px;
	background: url('../image/messenger.png') no-repeat center/contain;
	z-index: 2;
}
/*home*/
.section-2{

}
.content{
	position: relative;
}
.introduce{
	text-align: center;
}
.introduce img{
    max-width: 100%;
    filter: invert(1) grayscale(1) contrast(350%);
}
.introduce img:hover{
    filter: none;
}
.introduce > p {
    font-size: var(--font-size-1);
}
.introduce>h5{
	font-size: var(--font-size-h5);
	color: var(--text-1);
	font-weight: bold;
	margin-top: 20px;
}
.introduce>div{
	font-size: var(--font-size-normal);
	margin-top: 20px;
}
.section-3{
	background-color: var(--bg-2);
}
.section-label{
	color: var(--text-3);
	font-size: var(--font-size-h2);
	font-weight: bold;
	position: relative;
	margin-bottom: 20px;
}
.section-label:after{
	content: "";
	position: absolute;
	background-color: var(--bg-4);
	width: var(--label-width);
	height: 5px;
	top: calc( 100% + 20px );
	left: 0;
}
.notify-text{
	color: var(--text-1);
	font-weight: bold;
}
.content-text{
	text-align: justify;
}
.content-text>h6{
	font-size: var(--font-size-2);
	font-weight: bold;
}
.content-text>ul>li{
	position: relative;
	margin-left: 20px;
}
.content-text>ul>li:before{
	content: "";
	display: block;
	position: absolute;
	top: 8px;
	left: -20px;
	height: 5px;
	width: 5px;
	background-color: var(--bg-4);
}
.content-text>h4{
	font-size: var(--font-size-h5);
	color: var(--text-5);
	position: relative;
	font-weight: bold;


	margin-bottom: 50px;
}
.content-text>h4:after{
	content: "";
	position: absolute;
	margin-bottom: 20px;
	left: 0;
	top: calc( 100% + 15px);
	height: 5px;
	background-color: var(--bg-5);
	width: 100%;
}

.section-3 .nav-link{
	position: relative;
	font-size: var(--font-size-h5);
	text-transform: uppercase;
	color: var(--text-5);
	font-weight: bold;
	padding-left: 40px;
	margin-bottom: 50px;
}
.section-3 .nav-link.active{
	color: var(--text-3);
}
.section-3 .nav-link:before{
	content: "";
	position: absolute;
	border-radius: 50%;
	height: 14px;
	width: 14px;
	left: 0px;
	top: 50%;
	transform: translateY(-50%);
	background-color: var(--bg-5);
}

.section-3 .nav-link.active:before{
	background-color: var(--bg-3);
}

.section-3 .nav.flex-column{
	position: relative;
}
.section-3 .nav.flex-column:before {
	position: absolute;
	content: "";
	height: calc(100% - 102px);
	width: 2px;
	background: #959595;
	transform: translateX(6px);
	top: 26px;
}


.section-5{
	background-color: var(--bg-3);
	color: var(--text-2);
}
.section-5 .section-label{
	color: var(--text-2);
}
.section-5 .content-text,.section-5 .content-text li{
	color: var(--text-2);
}
.section-5 .content-text li{
	font-weight: 300;
}
.section-5 .content-text h4{
	color: var(--text-2);
}
.section-5 .nav-link{
	position: relative;
	font-size: var(--font-size-h5);
	text-transform: uppercase;
	color: var(--text-5);
	font-weight: bold;
	padding-left: 40px;
	margin-bottom: 50px;
}
.section-5 .nav-link.active{
	color: var(--text-2);
}
.section-5 .nav-link:before{
	content: "";
	position: absolute;
	border-radius: 50%;
	height: 14px;
	width: 14px;
	left: 0px;
	top: 50%;
	transform: translateY(-50%);
	background-color: var(--bg-5);
}
.section-5 .nav-link.active:before{
	background-color: var(--bg-1);
}
.section-5 .nav.flex-column{
	position: relative;
}
.section-5 .nav.flex-column:before {
	position: absolute;
	content: "";
	height: calc(100% - 102px);
	width: 2px;
	background: #959595;
	transform: translateX(6px);
	top: 26px;
}
.section-5 .note{
	font-size: var(--font-size-h5);
	color: var(--text-1);
	text-transform: uppercase;
}

.section-6 .flag{
	padding: 0 30px;
}


/*footer*/
.section-footer{
	background-color: var(--bg-2);
}
.copyright{
	background-color: var(--bg-3);
	padding: 25px 0;
	color: var(--bg-1);
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
	font-size: var(--font-size-1);
}
.section-footer h5{
	position: relative;
	font-size: var(--font-size-4);
	font-weight: bold;
	margin-bottom: 40px;
}
.section-footer h5:after{
	position: absolute;
	content: "";
	top: calc(100% + 15px);
	left: 0;
	height: 5px;
	background-color: var(--bg-4);
	width: var(--label-width);
}
.section-footer p{
	position: relative;
	font-size: var(--font-size-2);
	padding-left: 50px;
	font-weight: 300;
	height: 40px;
	display: flex;
	align-items: center;
}
.section-footer p:after{
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	content: "";
	background:url('../image/icon.png') no-repeat top/cover;
	height: 30px;
	width: 30px;
}
.section-footer .phone{
	font-weight: bold;
}
.section-footer .facebook:after{
	background-position: 0px -53px;
}
.section-footer .phone:after{
	background-position: 0px -104px;
}
.section-footer h6{
	font-size: var(--font-size-5);
	color: var(--text-5);
}
.section-footer input{
	width: 100%;
	border-radius: 10px;
	height: 36px;
	line-height: 36px;
	padding: 0 10px;
	box-shadow: none;
	border: 1px solid;
	background: none;
	outline: none;
}
.section-footer textarea{
	width: 100%;
	border-radius: 10px;
	padding: 0 10px;
	box-shadow: none;
	border: 1px solid;
	background: none;
	outline: none;
}
.section-footer .group{
	margin: 25px 0;
}
.section-footer button{
	height: 36px;
	width: 250px;
	color: var(--text-2);
	background-color: var(--bg-4);
	font-weight: 600;
	border-radius: 10px;
	box-shadow: none;
	border:none;
}


/*header*/
#header{
	position: absolute;
	z-index: 1;
	line-height: 80px;
	width: 100%;
	top: 0;
	left: 0;
	font-size: var(--font-size-1);
}
#header .logo{
	background: url('../image/logo.png') no-repeat center/contain;
	height: 80px;
	width: 200px;
	position: absolute;
	left: 40px; 
	top: 0;
}

#header .menu li{
	display: inline-block;
	color: var(--text-2);
	text-transform: uppercase;
	font-weight: bold;
	margin: 0 20px;
}
#header .menu li a{
	color: unset;
	text-decoration: none;
}
#header .menu{
	flex: 1;
	display: flex;
	justify-content: center;
}	
#header .login{
	position: absolute;
	right: 40px;
	text-align: right;
	top: 0;
}

#header .login .login-btn{
	margin: 0 10px;
	display: inline-block;
	color: #FFF;
	text-decoration: none;
}
#header .login .signup-btn{
	margin: 0px 10px;
	display: inline-block;
	line-height: 1;
	color: #FFF;
	padding: 5px 20px;
	border-radius: 10px;
	background-color: var(--bg-4);
	text-decoration: none;
}

#header .user{
	color: var(--text-2);
	font-weight: bold;
	cursor: pointer;
}

#header .user .ava{
	display: inline-block;
	height: 35px;
	width: 35px;
	background-color: var(--bg-4);
	line-height: 35px;
	color:#FFF;
	position:relative;
	border-radius: 50%;
	transform: translateY(15px);
}

#header .dropdown ul {
    background-color: #FFF;
    border-radius: 15px;
    padding: 15px 30px;
    line-height: 2;
    font-weight: 600;
    display: none;
}

#header .dropdown ul li {
    line-height: 2;
}

#header .dropdown ul li a {
    color: unset;
    text-decoration: none;
}
#to-top{
    position: fixed;
    height: 40px;
    width: 40px;
    background-color: var(--bg-4);
    right: 20px;
    top: 50%;
    border-radius: 5px;
    cursor: pointer;
    display: none;
    z-index: 1;
}
#to-top img{
    max-width: 100%;
    filter: invert(1);
}
@media (max-width: 1199px){

}