*{
	font-family: 'Helvetica';
}
#body{
	display: flex;
}
aside{
	width: 230px;
}
section{
	background: #ecf0f5;
	min-height: 900px;
	flex: 1;
}
.white{
	color: #FFF!important;
}
.black{
	color: #000!important;
}
.grey{
	color: #656868!important;
}
.bold{
	font-weight: bold!important;
}
.italic{
	font-style: italic!important;
}
.underline{
	text-decoration: underline!important;
}
.regular{
	font-weight: normal!important;
	font-style: normal!important;
}
.uppercase{
	text-transform: uppercase!important;
}
.downcase{
	text-transform: none!important;
}
.background-green{
	background-color:#00a65a !important;
	color: #FFF!important;
}
.background-red{
	background-color:#dd4b39 !important;
	color: #FFF!important;
}
.background-blue{
	background-color:#00c0ef !important;
	color: #FFF!important;
}
.background-yellow{
	background-color:#f39c12 !important;
	color: #FFF!important;
}
.border-green{
	border-color:#00a65a !important;
}
.border-red{
	border-color:#dd4b39 !important;
}
.border-blue{
	border-color:#00c0ef !important;
}
.border-yellow{
	border-color:#f39c12 !important;
}
.zz-section{
	padding-top: 30px;
	padding-bottom: 30px;
}
.zz-heading{
	font-size: 42px;
	text-transform: uppercase;
	font-weight: bold;
	color: #d87824;
	margin-left: 100px;
}
.box {
	position: relative;
	border-radius: 3px;
	background: #ffffff;
	border-top: 3px solid #d2d6de;
	margin-bottom: 20px;
	width: 100%;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.box.box-primary {
	border-top-color: #3c8dbc;
}
.box.box-success {
	border-top-color: #00a65a;
}
.box.box-danger {
	border-top-color: #dd4b39;
}
.box.box-info {
	border-top-color: #00c0ef;
}
.box.box-warning {
	border-top-color: #f39c12;
}
.box-header {
	color: #444;
	display: block;
	padding: 10px;
	position: relative;
}
.box-header.with-border {
	border-bottom: 1px solid #f4f4f4;
}
.box-header .box-title {
	display: inline-block;
	font-size: 18px;
	margin: 0;
	line-height: 1;
}
.box-body {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	padding: 10px;
}
.box-footer {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-top: 1px solid #f4f4f4;
	padding: 10px;
	background-color: #fff;
}
/*table*/
.myTable{
	display: table;
	border-collapse: collapse;
}
.myRow{
	display: table-row;
}
.myCell{
	display: table-cell;
}
@media (max-width: 1023px){
	.box-950{
		width: 950px;
	}
	section{
		overflow-x: scroll;
	}
	.zz-heading{
		margin-left: 10px;
		font-size: 24px;
	}
}
@media (max-width: 767px){
	aside{
		width: 50px;
	}
}